.worksWrapper {
  padding: 5% 10%;
  background-color: #efefef;
  min-height: 100dvh;
}

.worksWrapper h2 {
  color: black;
}

.worksWrapper .back-arrow {
  color: black;
  position: fixed;
  top: 3%;
  right: 5%;
}

.tileGrid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
