.detail-wrapper {
  padding: 5% 10%;
  min-height: 100dvh;
  background-color: #efefef;
}

.detail-wrapper .back-arrow {
  color: black;
}

.detail {
  max-width: 800px;
  margin: 0 auto;
}

.detail img,
.detail video {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 2rem;
}

.detail video {
  width: 100%;
}

.detail .detail-first-media {
  max-height: calc(100dvh - 10rem);
  width: auto;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 0.5rem;
}

.description-wrap .description {
  color: black;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 3rem;
}
